* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #F5F5F5;
}

.header {
    width: 100%;
    height: 6rem;
    background-color: #FF8A00;
}

.header>a {
    display: inline-block;
    width: 5rem;
    height: 4rem;
}

.header1 {
    width: 15rem;
    height: 6rem;
    float: right;
}

.header1>img {
    display: inline-block;
    width: 3.2rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.header>a>img:nth-of-type(1) {
    width: 15rem;
    height: 5rem;
    margin-top: .6rem;
    margin-left: 3.5rem;
}

.rentalAddr {
    width: 100%;
    height: 4.5rem;
    background-color: #FFFFFF;
    line-height: 4.5rem;
}

.rentalAddr>p {
    font-size: 1.5rem;
    color: rgb(91, 88, 88);
    margin-left: 2rem;
}

.rentalAddr>p>span:nth-of-type(1) {
    font-weight: 800;
}


.hotHouse {
    width: 100%;
    height: 16rem;
    padding: 1rem;
    border-bottom: .2rem solid #FF8A00;
}


.hotHouse>.img {
    float: left;
    width: 28%;
    height: 12rem;
}

.hotHouse>.img>img {
    width: 100%;
    height: 100%;
    background-size: contain;
    margin-top: 2rem;
}

.hotHouse>.houseList {
    float: left;
    width: 65%;
    height: 100%;
}

.hotHouse>.houseList>li {
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.text>h3 {
    font-size: 2rem;
    font-weight: 900;
    color: black
}

.text>p:nth-of-type(1) {
    font-size: 1.4rem;
    color: black;
    margin-top: 1.5rem;
}


.text>p:nth-of-type(2) {
    font-size: 1.3rem;
    color: rgb(129, 128, 128);
    margin-top: 1.5rem;

}

.text>p>span {
    font-size: 1.4rem;
    color: rgb(249, 2, 2);
    margin-top: .5rem;
    margin-left: 7rem;
}

.text>p>a {
    text-decoration: none;
    text-align: center;
    line-height: 2rem
}

.text>p:nth-of-type(3) {
    margin-top: 1rem;
    width: 19rem;
    height: 2rem;
}

.text>p>a:nth-of-type(1) {
    width: 5rem;
    height: 2rem;
    font-size: 1.6rem;
    color: black;
}